*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container a{
    padding: 8px 80px;
    color: #292929;
}

.innerContent{
    padding: 50px 0;
    // background: red;
    // audio

    .thumbnail{
        width: 100%;
        img{
            width: 30%;
            border-radius: 20px;
        }
        .custom-controls
        {
            // background-color: red;
            img{
                width: 2.5vh;
                height: auto;
                margin-top: 15px;
                margin-right: 10px; 
                // background-color: lightblue;
            }   
            img:hover{
                cursor: pointer;
            }
        }
    }

    // Audio
}

.collapseExample{
    position: fixed;
    top: 0;
}